* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --color-purple-500: #B52184;
    --color-purple-800: #312D64;
    --color-white: #FFFFFF;
    --linear-gradient: #343193, #302C63;
}

html, body, input, textarea {
    font-family: 'mulish', sans-serif;
}

body {
    font-family: 'mulish', sans-serif;
    font-size: 1.6rem;
}

section {
    padding: 0rem 3.2rem;
}

.cards {
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h1 {
    color: var(--color-purple-500);
    font-size: 3.2rem;
    font-weight: 900;
    text-align: center;
}

p {
    color: var(--color-purple-800);
    font-weight: 600;
}

.title {
    margin: 1.7rem 0rem 3.5rem;
}

.arrow-border {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 5.8rem;
    height: 10rem;
    
    margin-bottom: 9rem;

    border: 3px solid var(--color-purple-500);
    border-radius: 8rem;

    animation: slide-bottom 1.5s alternate infinite;
}

aside {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5rem;
    
    padding: 5.2rem 3.9rem;

    background-image: linear-gradient(to right, var(--linear-gradient));
}

aside .card {
    padding: 2.6rem;

    background-color: var(--color-white);

    border-radius: 2rem;

    transition-duration: 1s;
}

.card h2 {
    margin-bottom: 2rem;

    font-size: 3rem;
    color: var(--color-purple-500);
}

.card img {
    margin-bottom: 3.3rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    margin: 7.8rem 4rem;
}

.send-mail h2 {
    margin-bottom: 4.3rem;

    font-size: 3.2rem;
    font-weight: 900;
    text-align: start;
    color: var(--color-purple-500);
}

label {
    display: none;
}

.input-wrapper input, textarea {
    width: 100%;
    height: 4.8rem;

    border: 2px solid var(--color-purple-800);
    border-radius: 1.6rem;

    text-align: start;
}

#email, #name {
    padding: 1.6rem 5rem;
}

.text textarea, .text textarea::placeholder {
    height: 9.8rem;
    align-items: start;
    padding: 1.2rem 1.6rem;
    overflow: hidden;
}

.text textarea::placeholder {
    position: absolute;
    top: 0;
    left: 0;
}

.input-field {
    display: flex;
    align-items: center;
}

.input-field i {
    position: absolute;

    padding: 0rem 1.4rem;

    color: var(--color-purple-500);
}

form #send {
    width: 15.1rem;
    height: 4.5rem;

    color: var(--color-white);

    border: none;
    border-radius: 1.6rem;

    background-image: linear-gradient(to right, var(--linear-gradient));
}

footer {
    padding: 3.2rem 1.6rem;

    background-image: linear-gradient(to right, var(--linear-gradient));
}

footer p {
    color: var(--color-white);
    text-align: center;
}

@media (min-width: 600px) {
    aside {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    section {
        padding: 0rem 10.9rem 32.6rem;
    }

    main {
        display: grid;
        grid-template-areas:
        "title img"
        "arrow-border ."
        ;
    }

    main img {
        grid-area: img;
    }

    main #astronauta {
        width: 72rem;
        height: 73rem;
    }

    .title {
        grid-area: title;
    }

    .title h1 {
        text-align: start;
        font-size: 5.9rem;
    }

    .title p {
        font-size: 3.2rem;
    }

    .arrow-border {
        grid-area: arrow-border;
        width: 5.8rem;
        height: 10.5rem;
    }

    aside {
        grid-template-columns: repeat(3, 1fr);
    }

    .send-mail {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        object-fit: cover;
        padding: 0;
    }

    .send-mail form {
        max-width: 60rem;
        max-height: 42rem;
        margin: 9.5rem 9.2rem;
    }

    .send-mail::after {
        content: "";
        background-image: url("assets/image 11976.png");
        background-position: right;
        width: 100%;
        background-repeat: no-repeat;
    }
}


#send:hover {
    opacity: .9;
}

.card:hover {
    animation: resize 1s ease forwards;
}

@keyframes resize {
    from {

    }
    to {
        transform: scale(1.2);
    }
}

@keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(100px);
              transform: translateY(100px);
    }
  }